<div class="blog-header">
  <h1 class="blog-title"><%= config.title %></h1>
  <% if (theme.subtitle){ %>
    <p class="lead blog-description"><%= theme.subtitle %></p>
  <% } %>
  <p class="busuanzi" style="color: #999">
    <span id="busuanzi_container_site_pv">
      本站访问量：<span id="busuanzi_value_site_pv"></span>次
    </span>
  </p>
</div>
